* {
  margin: 0;
  color: #003049;
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #669BBC;
    position: sticky;
    top: 0;
}

body {
    background-color: #fdf0d5;
}

img, .espaco {
    width: 8vw; 
    background-color: #669BBC;
}

h1 {
    text-align: center;
    background-color: #669BBC;
    font-size: 4vw;
}

h2 {
    text-align: center;
    font-size: 6vw;
}

p {
    font-size: 3vw;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2vw;
  gap: 2vw;
}

a {
  text-decoration: none;
}

.menu a:hover {
  color: #669BBC;
}

/* BLOCO MENU */
.bloco-1, .bloco-2, .bloco-3, .bloco-4 {
    height: 15vw;        
    width: 22vw;         
    text-align: center;      
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1121F;
}

/* RESUMOS */
.resumos {
    background-color: #669BBC;
    width: 80vw;
    margin: 4vw auto;
    padding: 4vw;
    border-radius: 4vw;
    text-align: center;
}

.resumos figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;       
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2vw;
  padding: 2vw;
  border: 1vw #C1121F groove;
}



.resumos img {
  width: 20vw;           
  border: 0.2vw solid black;
}

footer {
  text-align: center;
}